{# | Variable | Type | Description |
|------------------|---------|---------------------------------| | cart | object
| | cart.items_count | int | | cart.total | string | Formatted total ex: "١٠٠
ر.س" | #}
{% set important_links = theme.settings.get('important_links') %}

{# Top Nav #}
{% if theme.settings.get('info_nav_bar_header') %}
	{# Top Nav #}
	{% if theme.settings.get('info_nav_bar_header') %}
		<div class="top-navbar">
			<div
				class="container grid grid-cols-3 items-center">
				<!-- Left section: Footer Menu and Language & Currency Component -->
				<div class="flex items-center gap-4 justify-start">
					<div class="{% if not important_links %}hidden{% endif %}">
						<salla-menu source="footer" topnav></salla-menu>
					</div>
					<div class="{% if not theme.settings.get('currency_change_top_nav') or not (store.settings.is_multilingual or store.settings.currencies_enabled) %}hidden{% endif %}">
						<div class="header-buttons flex items-center gap-2">
							<button type="button" onclick="salla.event.dispatch('localization::open')" class="btn--rounded-gray basis-0 flex items-center">
								<span class="flag iti__flag iti__{{
																																																																																																																																																																																								                  user.language.country_code
																																																																																																																																																																																								                }} rounded-sm"></span>
								<span class="mx-1.5">|</span>
								<span>{{ currency.symbol }}</span>
							</button>
							<salla-localization-modal></salla-localization-modal>
						</div>
					</div>
					<div class="{% if not store.scope %}hidden{% endif %}">
						<button class="btn--rounded-gray flex items-center" onclick="salla.event.dispatch('scopes::open', {'mode': 'default'})">
							<i class="sicon-location rtl:ml-1 ltr:mr-1"></i>
							{{ store.scope.name }}
						</button>
					</div>
				</div>

				<!-- Center section: Store Name -->
				<div class="text-center">
					{% if theme.settings.get('store_name_top_nav') %}
						{% if store.slogan %}
							<h2>{{ store.slogan }}</h2>
						{% else %}
							<h2>{{ store.name }}</h2>
						{% endif %}
					{% endif %}
				</div>

				<!-- Right section: Contacts -->
				<div class="text-right">
					{% if theme.settings.get('contcat_information_top_nav') %}
						<salla-contacts is-header></salla-contacts>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endif %}
{# Main Nav #}
<div id="mainnav" class="main-nav-container shadow-default bg-white">
	<div class="inner bg-inherit">
		<div class="container">
			<div class="grid grid-cols-2 items-center">
				<div class="flex items-center">
					<a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
						<i class="sicon-menu text-primary text-2xl"></i>
					</a>
					<a class="navbar-brand" href="{{ store.url }}">
						<img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo"/>
					</a>
					<custom-main-menu></custom-main-menu>
				</div>
				<div class="flex items-center justify-end gap-4">
					{% if theme.settings.get('navigation_links_main_header') %}
						{% if user.type == 'user' %}
							<salla-user-menu avatar-only show-header></salla-user-menu>
						{% else %}
							<button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
								<i class="header-btn__icon sicon-user-circle"></i>
							</button>
						{% endif %}
					{% endif %}

					{% if theme.settings.get('cart_icon_in_main_header') %}
						<salla-cart-summary class="ml-4 rtl:ml-[unset] rtl:mr-4">
							<i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
						</salla-cart-summary>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div></header>{% if store.scope %}
<salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>{% endif %}
